extends layout
block content
  h1 Game by iPyro and WillyZ
  h2 Some ideas from whitefire_gaming
  h3 Press The Dollar to earn $1


  #container.col
    p.money
      img.button(src='http://www.anarchism.net/images/dollar.gif',onclick='action("add")')

    p.actions
      button.button(onclick='action("1m")') +$1 million
      button.button(onclick='action("x2")') x2 in one (soon™)
      button#addall.button(onclick='action("addauto")') +$0.10/second
    h3.balance1

  script(src='/javascripts/main.js')
